CREATE DATABASE [myTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
(  NAME = N'myTestDB'
  ,FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\myTestDB.mdf'
  ,SIZE = 8192KB
  ,FILEGROWTH = 65536KB
)
LOG ON 
(  NAME = N'myTestDB_log'
  ,FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\myTestDB_log.ldf'
  ,SIZE = 8192KB
  ,FILEGROWTH = 65536KB
)
GO
USE [myTestDB]
GO
USE [myTestDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [myTestDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
