CREATE DATABASE [TestStagingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestStagingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestStagingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestStagingDB]
GO
USE [TestStagingDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
