CREATE DATABASE [TestIntegrationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestIntegrationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestIntegrationDB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestIntegrationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestIntegrationDB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestIntegrationDB]
GO
USE [TestIntegrationDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestIntegrationDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
