CREATE DATABASE [TestStagingDB4]
GO
USE [TestStagingDB4]
GO
USE [TestStagingDB4]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB4] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
