CREATE DATABASE [TestIntegrationDB3]
GO
USE [TestIntegrationDB3]
GO
USE [TestIntegrationDB3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestIntegrationDB3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
