CREATE DATABASE [TestPresentationDB4]
GO
USE [TestPresentationDB4]
GO
USE [TestPresentationDB4]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestPresentationDB4] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
