CREATE DATABASE [TestStagingDB3]
GO
USE [TestStagingDB3]
GO
USE [TestStagingDB3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
