CREATE DATABASE [TestPresentationDB3]
GO
USE [TestPresentationDB3]
GO
USE [TestPresentationDB3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestPresentationDB3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
