-- For SQL Server on Dokcer Linux see https://dbafromthecold.com/2018/12/11/attaching-databases-via-a-dockerfile-update/

CREATE DATABASE [TestSourceDB]
CONTAINMENT = NONE
ON PRIMARY 
(  NAME = N'TestSourceDB'
  ,FILENAME = N'/var/opt/mssql/TestSourceDB.mdf'  -- File staat op Linux FS
  ,SIZE = 8192KB
  ,FILEGROWTH = 65536KB
) 
LOG ON 
(  NAME = N'TestSourceDB_log'
  ,FILENAME = N'/var/opt/mssql/TestSourceDB_log.ldf' -- File staat op Linux FS
  ,SIZE = 8192KB
  ,FILEGROWTH = 65536KB
)
GO
USE [TestSourceDB]
GO
USE [TestSourceDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestSourceDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
