-- Databases aan gemaakt in Docker volumes gebruiken geen 
-- database files en logfiles in create database commando
CREATE DATABASE [TestStagingDB]
GO
USE [TestStagingDB]
GO
USE [TestStagingDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
