-- Wanneer SQL server wordt gebruikt obv Docker met Docker volumes
-- wordt geen gebruik gemaakt van create database commando waarin database en log files worden gespecificeerd 
CREATE DATABASE [TestStagingDB2]
GO
USE [TestStagingDB2]
GO
USE [TestStagingDB2]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB2] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
