-- Databases aan gemaakt in Docker volumes gebruiken geen 
-- database files en logfiles in create database commando
CREATE DATABASE [TestIntegrationDB]
GO
USE [TestIntegrationDB]
GO
USE [TestIntegrationDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestIntegrationDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
