CREATE DATABASE [TestStagingDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestStagingDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB2.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestStagingDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB2_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestStagingDB2]
GO
USE [TestStagingDB2]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB2] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
