CREATE DATABASE [TestPresentationDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestPresentationDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB2.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestPresentationDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB2_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestPresentationDB2]
GO
USE [TestPresentationDB2]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestPresentationDB2] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
