CREATE DATABASE [TestStagingDB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestStagingDB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB3.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestStagingDB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestStagingDB3_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestStagingDB3]
GO
USE [TestStagingDB3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestStagingDB3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
