CREATE DATABASE [TestPresentationDB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestPresentationDB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB3.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestPresentationDB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB3_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestPresentationDB3]
GO
USE [TestPresentationDB3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestPresentationDB3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
