CREATE DATABASE [TestPresentationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestPresentationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestPresentationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TEST_C1Z68Y2\MSSQL\DATA\TestPresentationDB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TestPresentationDB]
GO
USE [TestPresentationDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TestPresentationDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
